body {
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.header-link {
  color: #212121;
}
.current {
  color: #2196f3;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.current {
  color: #2196f3;
}
.hero {
  background: #2f303a;
}
.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
}
.advantage-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantage-p {
  line-height: 1.71;
  color: #757575;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.bcg-teem {
  background-color: #f5f4fa;
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.teem-p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
.foot-st {
  background-color: #2f303a;
}
.link:focus,
.link:hover {
  color: #2196f3;
}
